# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

1) List popular languages for Data Science
2) Some of the commonly used libraries
3) Data Science Tools
4) Simple Arithmetic Expression
5) How to convert 200 minutes to hours through arithmetic expression

Some of the popular languages that Data Scientists use are:
1) SQL
2) R
3) Python

Some of the commonly used libraries are:

1. Pandas
2. Numpy
3. Seaborn

Data Science Tools

1) RStudio
2) Jupyter Notebook
3) Spyder IDE

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
mins = 200
hours = mins/60
print(hours , "hours")

#This will convert 200 minutes to hours by diving by 60

3.3333333333333335 hours

## Author:

Sanjay Varma